<head>
    <link rel="stylesheet" href="/static/css/Conferencias_stylesheet.css" />



    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">





<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117257163-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-117257163-1');
</script>

<!-- Global site tag (gtag.js) - Google Ads: 350427249 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-350427249"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'AW-350427249');
</script>

<meta name="description" content="Victoriafest, el festival del emprendimiento que creamos para ti, disfruta de paneles, conferencias y más. 6 de octubre, acceso gratuito.">

    <title>Victoriafest | En vivo: {{ conferencia.titulo }}</title>

      <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1697646777131073');
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1697646777131073&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logovictoriablanco.svg" height="40" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav me-auto extended">
                    <li class="nav-item">
                        <a class="nav-link" href="/#speakers">Speakers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#agenda">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stations">STATIONS</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/#faqs">FAQ's</a>
                    </li>
                </ul>


            </div>
            <div class="nav_CTA col-2">
                <a class="nav-link boldextended" type="button" href="/">VOLVER</a>
            </div>
        </div>
    </nav>

    <div class="barraAvisos row">
    <h2 class="col bold">{{ conferencia.id_conferencista.nombre }} {{ conferencia.id_conferencista.apellido }}</h2>
    <h1 class="col bold">{{ conferencia.titulo }}</h1>
    <p class="horario col extended">🞇 {{ conferencia.fecha_hora|date:"H:m" }} - {{ fin|date:"H:m" }}</p>
    </div>


    <div class="mainContent {{ conferencia.color }}">


        <div class="videoWrap ratio ratio-16x9">
 <iframe src="https://player.vimeo.com/video/{{ conferencia.vimeo }}" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% if conferencia.reprograma %}
        <a class="nav-link boldextended botonReprograma" type="button"  href="#" target="_blank">ÚNETE A REPROGRAMA</a>
        {% endif %}

        <div id='patrocinadores'>
            <div class="fila1">
                <figure><img class="" src="/static/img/alianzas/logo_bbva.svg"></figure>
                <figure><img class="" src="/static/img/alianzas/logo_facebook.svg"></figure>
                <figure><img class="" src="/static/img/alianzas/logo_gto.svg">
                </figure>
                <figure><img class="" src="/static/img/alianzas/logo_ideagto.svg"></figure>
                <figure><img class="" src="/static/img/alianzas/logo_leon.svg"></figure>
                 </div>
        </div>


    </div>

     <footer class="footerVictoriafest">
            <a href="https://victoria147.org/"> <figure class="logoVictoria"><img src="/static/img/logoVictoriaBlanco.png"></figure></a>

        </footer>



    </body>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
