<!doctype html>
<html lang="es">
    
    <head>
    <link rel="stylesheet" href="../static/css/Preregistro_stylesheet.css" />
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Victoria Fest 2021 / Registro</title>


</head>

<body>

    <div class="mainContent">


        <div class=" textoScroll bg-text-container">
            <div class="animate-text left">
                <span>✱ es tu momento ● es tu momento&nbsp; </span>
                <span>✱ es tu momento ● es tu momento&nbsp; </span>
            </div>
        </div>



        <div class="contentMainColumns">
            <div class="column1">
                <div>
                    <figure class="deco2"><img src="../static/img/deco2.png"></figure>
                    <figure class="logoNow"><img src="../static/img/logonowblanco.png"></figure>

                </div>

            </div>


            <div class="column2">
                <div class="contenedorAmarillo">
                    <div class="fechas">
                        <figure><img src="../static/img/fechas.png"></figure>
                    </div>
                    <div class="BotonUnirse">
                        <button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="bold">UNIRME</button>
                    </div>
                </div>

                <div class="contactoRS">
                    <figure class="deco3"><img src="../static/img/deco3.png"></figure>
                    <div class="RedesSociales">
                        <h2 class="bold">CONTACTO</h2>
                        <div>
                            <a class="light" href="#">INSTAGRAM</a>
                            <a class="light" href="#">YOUTUBE</a>
                            <a class="light" href="#">TWITTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footerVictoriafest">
            <a href="https://victoria147.org/"> <figure class="logoVictoria"><img src="../static/img/logoVictoriaBlanco.png"></figure></a>

        </footer>


    </div>


    <div class="offcanvas offcanvas-end formularioModal" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
       
        <div class="offcanvas-body">
            <h2>INSCRÍBETE</h2>
            {{ error }}

            <figure class="cross text-reset" data-bs-dismiss="offcanvas"><img src="../static/img/cross.png"></figure>
            <div class="formContainer">
                <p class="bold">Regístrate para recibir noticias sobre las actividades y eventos que estamos preparando para tí.</p>
                <form action="/registro" method="post">
                    {% csrf_token %}
                    <br>
                    <input type="email" placeholder="EMAIL" name="email" required id="id_email">
                    <input class="borderAdjust" type="text" name="nombre" placeholder="NOMBRE" maxlength="100" required id="id_nombre">
                    <input class="borderAdjust" type="text" placeholder="APELLIDO" name="apellido" maxlength="100" required id="id_apellido">
                    <select class="borderAdjust" name="genero" id="id_genero">
                    <option disabled selected value="">Género</option>
                    <option value="F">Femenino.</option>
                    <option value="M">Masculino.</option>
                    <option value="No Binario">No binario.</option>
                    <option value="NA">Prefiero no decir.</option>
                </select>

                    <p class="light">campos opcionales ✱</p>

                    <input type="tel" placeholder="TELÉFONO ✱" name="telefono" maxlength="11" required id="phone">
                    <div class="alert alert-info" style="display: none;"></div>
                    <div class="alert alert-error" style="display: none;"></div>
                    <input class="borderAdjust" type="text" placeholder="LUGAR DE RESIDENCIA ✱" name="lugar" maxlength="100" required id="id_lugar">
                    
                    
                    <select class="borderAdjust" name="emprendedor" id="id_emprendedor">
                          <option disabled selected value="">¿Eres emprendedor/a?</option>
                          <option value="No">No, no soy emprendedor/a.</option>
                          <option value="Tengo una idea de negocio.">Tengo una idea de negocio.</option>
                          <option value="Acabo de iniciar un negocio (menos de 2 años).">Acabo de iniciar un negocio (menos de 2 años).</option>
                          <option value="Tengo un negocio en crecimiento (2 a 5 años).">Tengo un negocio en crecimiento (2 a 5 años).</option>
                          <option value="Tengo un negocio en expansión (más de 5 años).">Tengo un negocio en expansión (más de 5 años).</option>

                        </select>
                    
                    <p>Estoy interesad@ en recibir correos informativos sobre los programas de Victoria147</p>
                    <div class="checkCorreos">
                        <label for="recibir_correos">Sí</label>
                        <input type="checkbox" name="recibir_correos" id="id_recibir_correos">
                    </div>
                    <input class="botonSubmit " type="submit" value="UNIRME"/>
                </form>
            </div>



        </div>
    </div>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<script>
    /* TEXT SCROLL BANNER  Set width of all animated text to match container */
    let parent = document.querySelectorAll('.animate-text');
    for (let i = 0; i < parent.length; i++) {
        parent[i].style.width = parent[i].children[0].clientWidth + "px";
    };
</script>

<script>
    // Handle international prefixes, format phone input field
    // Uses intl-tel-input plugin
    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        // https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
        preferredCountries: ["mx", "us" , "co"],
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const info = document.querySelector(".alert-info");
    const error = document.querySelector(".alert-error");

    function process(event) {
        event.preventDefault();
        const phoneNumber = phoneInput.getNumber();
        info.style.display = "none";
        error.style.display = "none";

        if (phoneInput.isValidNumber()) {
            info.style.display = "";
            info.innerHTML = `Phone number in E.164 format: <strong>${phoneNumber}</strong>`
        } else {
            error.style.display = "";
            error.innerHTML = `Invalid phone number.`
        }
    }
    const form = document.getElementById("registro");
</script>