    <link rel="stylesheet" href="/static/css/Preregistro_stylesheet.css" />


<body>
  <div class="bg-text-container">
    <div class="animate-text left">
        <span>∗ es tu momento ● es tu momento&nbsp; </span>
       <span>∗ es tu momento ● es tu momento&nbsp; </span>
    </div>
  </div>

    <style>


.bg-text-container {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: -999;
}

@keyframes text-scrolling {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}
.animate-text {
  animation: text-scrolling 15s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
}
.animate-text.left {
  animation-direction: reverse;
}

span {
  font-size: 10vh;
  color: transparent;
  -webkit-text-stroke: 3px #30442a;
  text-transform: uppercase;
  display: inline-block;
  line-height: 0.75;
  min-width: auto;
  font-weight: 800;
}




    </style>


    <script>/* Set width of all animated text to match container */
let parent = document.querySelectorAll('.animate-text');
for(let i = 0; i < parent.length; i++) {
  parent[i].style.width = parent[i].children[0].clientWidth + "px";
};</script>
