<html>

<head>
    <link rel="stylesheet" href="/static/css/Home_stylesheet.css" />
    <link rel="stylesheet" href="/static/css/Stations_stylesheet.css" />




    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">





    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117257163-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-117257163-1');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 350427249 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-350427249"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-350427249');
    </script>

    <meta name="description" content="Victoriafest, el festival del emprendimiento que creamos para ti, disfruta de paneles, conferencias y más. 6 de octubre, acceso gratuito.">

    <title>Stations | Victoriafest | El festival del emprendimiento</title>

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1697646777131073');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1697646777131073&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="#">
                    <img src="/static/img/logovictoriablanco.svg" height="40" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav me-auto extended">
                    <li class="nav-item">
                        <a class="nav-link" href="#speakers">Speakers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#agenda">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faqs">FAQ's</a>
                    </li>
                </ul>


            </div>
            <div class="nav_CTA col-2">
                <a class="nav-link boldextended" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" href="#">REGISTRARME</a>
            </div>
        </div>
    </nav>




    <div class="mainContainer">
        <div class="row filaBloques">
            <div class="sponsorBlock dobleBlock col-7 me-auto">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_bbva.svg"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoLines1" src="/static/img/deco_lines1.svg">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/566520248?h=3748c1afd0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>



                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/anavictoriagarcia/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/anavictoriaga/" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="#" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/AnaVictoria147/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>

            </div>


            <div class="sponsorBlock singleBlock col-4">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_gaia.svg"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoDots1" src="/static/img/stations/Grupo%20441.png">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/566520248?h=3748c1afd0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>



                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/anavictoriagarcia/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/anavictoriaga/" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="#" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/AnaVictoria147/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>



            </div>
        </div>
        
         <div class="row filaBloques">
               
            <div class="sponsorBlock singleBlock col-4 me-auto">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_cemex.svg"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoLines1" src="/static/img/deco_lines2.svg">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/566520248?h=3748c1afd0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/anavictoriagarcia/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/anavictoriaga/" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="#" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/AnaVictoria147/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>
            </div>
             
            <div class="sponsorBlock dobleBlock col-7">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_gto.svg"></figure>
                     <figure><img src="/static/img/alianzas/logo_ideagto.svg"></figure>
                     <figure><img src="/static/img/alianzas/logo_leon.svg"></figure>
                </div>
                
                <div class="blockContent row sinPadding">

                   
                    <figure class="col">
                    <img src="/static/img/stations/Masterclass_Leon.jpg">
                    </figure>
                    
                    
                    <div class="col">
                    <div class="videoWrap2 ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/566520248?h=3748c1afd0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                        <div class="videoWrap2 ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/566520248?h=3748c1afd0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    </div>
                    



                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/anavictoriagarcia/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/anavictoriaga/" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="#" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/AnaVictoria147/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>
            </div>
           
        </div>




    </div>




    <footer class="footerVictoriafest">
        <a href="https://victoria147.org/">
            <figure class="logoVictoria"><img src="/static/img/logoVictoriaBlanco.png"></figure>
        </a>

    </footer>


</body>

</html>