<html>

<head>
    <link rel="stylesheet" href="/static/css/Home_stylesheet.css" />
    <link rel="stylesheet" href="/static/css/Stations_stylesheet.css" />




    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/fonts/fontstylesheet.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">





    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117257163-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-117257163-1');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 350427249 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-350427249"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'AW-350427249');
    </script>

    <meta name="description" content="Victoriafest, el festival del emprendimiento que creamos para ti, disfruta de paneles, conferencias y más. 6 de octubre, acceso gratuito.">

    <title>Stations | Victoriafest | El festival del emprendimiento</title>

    <!-- Facebook Pixel Code -->
    <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1697646777131073');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1697646777131073&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->


</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logovictoriablanco.svg" height="40" alt="">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-8" id="navbarToggler">
                <ul class="navbar-nav me-auto extended">
                    <li class="nav-item">
                        <a class="nav-link" href="/#speakers">Speakers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#agenda">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#faqs">FAQ's</a>
                    </li>
                </ul>


            </div>
            <div class="nav_CTA col-2">
                <a class="nav-link boldextended" href="/evento">● EN VIVO</a>
            </div>
        </div>
    </nav>

    



    <div class="mainContainer">
<figure class="titleSpeakers"><img class="img-fluid" src="/static/img/STATIONS.svg"></figure>
        
        <div class="row filaBloques">

            <div class="patroxBlock dobleBlock col-lg-7 col-md-12 me-auto">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_bbva.svg"></figure>
                </div>
                <div class="blockContent row sinPadding columnaBBVA">

                    <img class="decoLines1" src="/static/img/deco_lines1.svg">

                    <div class="videoWrap ratio ratio-16x9 col-md-6 col-sm-12 videoBBVA">
                        <iframe src="https://player.vimeo.com/video/616495644?h=750065176b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="bbva2.mp4"></iframe>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div id="carouselBBVA" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselBBVA" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselBBVA" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselBBVA" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/static/img/stations/PRENSA_DIGITAL_BBVA_AHORRO_ADULTO%5B1%5D.jpg" class="d-block " alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/stations/PRENSA_DIGITAL_BBVA_AHORRO_AUTO%5B1%5D.jpg" class="d-block ">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/stations/PRENSA_DIGITAL_BBVA_AHORRO_JOVENES%5B1%5D.jpg" class="d-block ">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBBVA" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselBBVA" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
                        </div>
                    </div>
                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.facebook.com/bbvaenmexico/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                        <a href="https://www.instagram.com/bbva_mex/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/BBVA_Mex/" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="https://www.tiktok.com/@bbva_mex" target="_blank">
                            <img class="img-fluid" src="/static/img/tiktok.png"></a>
                        <a href="https://www.bbva.mx/personas/landings/07/ahorro.html" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                    </div>
                </div>
            </div>


            <div class="patroxBlock singleBlock col-lg-4 col-md-12">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_cemex.svg"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoDots1" src="/static/img/stations/Grupo%20443.png">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/616505677?h=a66e1a48de&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Premio Cemex Tec Victoria 147"></iframe>
                    </div>



                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/cemex/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://www.cdcs.com.mx/es/cemextec_award" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/cemex" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>



            </div>
        </div>


        <div class="row filaBloques">
            
            <div class="patroxBlock singleBlock col-lg-4 col-md-12 me-auto">
                
                   <!-- Modal -->
                <div class="modal fade" id="modalDiageo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
<button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                            <div class="modal-body cuponDiageoModal">
                               <div><p>Para 2030 tenemos el objetivo de mejorar las posibilidades de empleo y los
medios de subsistencia de más de 200,000 personas en México y el mundo.
Si tienes un negocio del sector de restaurantes o bares, visita nuestra
plataforma de capacitación gratuita y conoce los apoyos de nuestro
programa “Raising The Bar” en México.</p>
<p class="bold">Visita:</p> <a href="https://www.diageobaracademy.com" target="_blank">www.diageobaracademy.com</a>
                                </div>
                                       

                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_diageo.svg"></figure>
                </div>
                <div class="blockContent centrarCosa">

                    <img class="decoDots2" src="/static/img/stations/Grupo%20441.png">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/616505328?h=207ecace10&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="DIAGEOSPA Sociedad2030_EspirituProgreso"></iframe>
                    </div>

                    
                           
                            <a class="botonStations bold" data-bs-toggle="modal" data-bs-target="#modalDiageo">CUPÓN DE DESCUENTO</a>


                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://twitter.com/Diageo_News/" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="https://www.diageo.com" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        
                    </div>
                </div>



            </div>
            
            <div class="patroxBlock dobleBlock col-lg-7 col-md-12 ">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_facebook.svg"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoLines1" src="/static/img/deco_lines1.svg">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/618402847?h=7475af1ec9&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Tráiler Impulsa con Fcaebook Temporada 3"></iframe>
                    </div>



                </div>
                <div class="blockRS">
                    <div>
                       <a href="https://www.facebook.com/marketing.espanol" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                        <a href="https://www.facebook.com/ellahacehistoria" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/groups/2640334629543324" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>

            </div>


        </div>



         <div class="row filaBloques">

            <div class="patroxBlock dobleBlock col-lg-7 col-md-12 me-auto">

                <!-- Modal -->
                <div class="modal fade" id="modalGTO" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal-lg">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="videoWrap ratio ratio-16x9">
                                    <iframe src="https://player.vimeo.com/video/616491904?h=df41cd92c8&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="ATE CON QUESO LEON.mp4"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="logoBlock logosLeon">
                    <figure><img src="/static/img/alianzas/logo_gto.svg"></figure>
                    <figure><img src="/static/img/alianzas/logo_ideagto.svg"></figure>
                    <figure><img src="/static/img/alianzas/logo_leon.svg"></figure>
                </div>

                <div class="blockContent row sinPadding">


                    <figure class="col-md-6 col-sm-12 fotoColumnaGTO">
                        <img src="/static/img/stations/Masterclass_Leon.jpg" data-bs-toggle="modal" data-bs-target="#modalGTO" class="imagenModal imagenGTO">
                    </figure>


                    <div class="col-md-6 col-sm-12 videosDobleGTO">
                        <div class="videoWrap2 ratio ratio-16x9">
                            <iframe src="https://player.vimeo.com/video/616507261?h=e4267b9669&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="VIDEO EMPRENDIMIENTO_FINAL"></iframe>
                        </div>
                        <div class="videoWrap2 ratio ratio-16x9">
                            <iframe src="https://player.vimeo.com/video/616506838?h=9b32638086&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LEON IMPACTO_FNL"></iframe>
                        </div>
                    </div>




                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/innovacion.leon/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/Innovacion_Leon" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="https://leon.gob.mx/innovacion/" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/DireccionGeneraldeInnovacionLeon/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>
            </div>
             
              <div class="patroxBlock singleBlock col-lg-4 col-md-12">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_tresemme.svg"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoLines1" src="/static/img/deco_lines2.svg">

                    <div class="videoWrap ratio ratio-16x9 videoTRESEMME">
                        <iframe src="https://player.vimeo.com/video/616491881?h=9dff041e2e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="100921_TRESEMMÉ_Video_Web (1).mp4"></iframe>
                    </div>

                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/tresemmemexico/?hl=en" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                       
                        <a href="https://www.tresemme.com.mx/home.html" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                       
                    </div>
                </div>
            </div>

        </div>

        
         <div class="row filaBloques">

           <div class="patroxBlock singleBlock col-lg-4 col-md-12 me-auto">
                
                   <!-- Modal -->
                <div class="modal fade" id="modalGAIA" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
<button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                            <div class="modal-body cuponDiageoModal">
                               <div><p>Si eres parte de la comunidad de V147 y tienes una marca de diseño, muebles, decoración o artesanías no pierdas la oportunidad de ser parte del programa GAIA Local, en el que podrás aplicar para ser seleccionado como proveedor de GAIA.</p>
                                   <p>
Sólo tienes que llenar la aplicación que encontrarás en el siguiente enlace y un ejecutivo de GAIA se pondrá en contacto contigo para indicarte los siguientes pasos de la convocatoria. <br> Llena el
                                   
<a href="https://forms.gle/FFwRNcvzmUaCwxrC9" target="_blank">Formulario de aplicación.</a>
</p>
    <p>                                
Si quieres conocer más sobre el programa GAIA Local visita
<a href="https://www.gaiadesign.com.mx/muebles/gaia-
local.html?p=1&amp;is_available=true&amp;_categories_ids=717">AQUÍ</a> o envía un correo con tus dudas a <a href="mailto:jeanne.birot@gaiadesign.com.mx" target="_blank">jeanne.birot@gaiadesign.com.mx</a></p>

                                </div>
                                       

                            </div>

                        </div>
                    </div>
                </div>
                
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_gaia.svg"></figure>
                </div>
                <div class="blockContent centrarCosa">

                    <img class="decoDots2" src="/static/img/stations/Grupo%20443.png">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/616504886?h=a1448e384d&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="SOMOS LA CIUDAD _ GAIA Design _ Muebles y accesorios"></iframe>
                    </div>

                    
                           
                            <a class="botonStations bold" data-bs-toggle="modal" data-bs-target="#modalGAIA">CUPÓN DE DESCUENTO</a>


                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/gaiadesignmx/?hl=en" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://www.gaiadesign.com.mx" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/gaiadesignmexico/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>



            </div>

            <div class="patroxBlock dobleBlock col-lg-7 col-md-12">
                
                 <!-- Modal -->
                <div class="modal fade" id="modalQUICK" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered  modal-lg">
                        <div class="modal-content">

                            <div class="modal-body">
                                <div class="videoWrap ratio ratio-16x9">
                                    <iframe src="https://player.vimeo.com/video/616505746?h=815294787c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="QUICKBOOKS"></iframe>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/Quickbooks.png"></figure>
    
                </div>

                <div class="blockContent row sinPadding columnasQuickbooks">


                    <figure class="col-md-6 col-sm-12 align-self-center fotoQuickbooks centrarCosa">
                        <img src="/static/img/stations/Masterclass_Quickbooks.jpg" data-bs-toggle="modal" data-bs-target="#modalQUICK" class="imagenModal imagenQKB">
                    </figure>


                    <div class="col-md-6 col-sm-12 linkQuickbooks">
                        <div>
                            <h4>Paso 1:</h4>
                            <p>  Da click en el botón de abajo y canjea tu cupón para obtener un 50% de descuento.</p>
                            <a class="botonStations bold" href="https://quickbooks.intuit.com/mx/qsp/" target="_blank">CUPÓN DE DESCUENTO</a>
                            
                             <h4>Paso 2:</h4>
                            <p> Agenda una asesoría con un/a experto/a de Quickbooks para aprovechar al máximo las herramientas que tenemos para ti.</p>
                            <a class="botonStations bold" href="https://calendly.com/sesion-induccion-qbo/webinar" target="_blank">AGENDA TU CITA</a>
                        </div>
                        
                    </div>




                </div>
                  <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/quickbooksmx/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/QuickBooksMX" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="https://quickbooks.intuit.com/mx/" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/QuickBooksMexico/" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>
            </div>

        </div>
        
        
        
                 <div class="row filaBloques">

        
            <div class="patroxBlock singleBlock col-xxl-4 col-xl-6 col-lg-5 col-md-12 me-auto">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_creditoreal.svg"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoDots3" src="/static/img/stations/Grupo%20442.png">

                    <div class="videoWrap ratio ratio-16x9">
                        <iframe src="https://player.vimeo.com/video/616495696?h=bb0b656d76&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="CREDITO REAL"></iframe>
                    </div>



                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/crmujerreal/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/mujerreal12" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="https://creditoreal.com.mx/mujer-real/" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/CRMujerReal" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>



            </div>
                     
                       <div class="patroxBlock singleBlock col-xxl-3 col-xl-5 col-lg-5 col-md-12">
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/Converse.png"></figure>
                </div>
                <div class="blockContent">

                    <img class="decoDots1" src="/static/img/stations/Grupo%20443.png">

                    <div id="carouselConverse" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselConverse" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselConverse" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselConverse" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/static/img/stations/converse1.jpg" class="d-block" alt="">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/stations/converse2.jpg" class="d-block">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/stations/converse3.jpg" class="d-block">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselConverse" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselConverse" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
                        </div>



                </div>
                <div class="blockRS">
                    <div>
                        <a href="https://www.instagram.com/conversemexico/" target="_blank">
                            <img class="img-fluid" src="/static/img/instagram.svg"></a>
                        <a href="https://twitter.com/converse_mexico" target="_blank">
                            <img class="img-fluid" src="/static/img/twitter.svg"></a>
                        <a href="https://converse.com.mx" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.facebook.com/Converse.MX" target="_blank">
                            <img class="img-fluid" src="/static/img/facebook.svg"></a>
                    </div>
                </div>



            </div>
                     
                     
                         <div class="patroxBlock singleBlock col-xxl-4 col-xl-6 col-lg-6 col-md-12 ms-auto ">
                             
                                 <!-- Modal -->
                <div class="modal fade" id="modalNXTT" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
<button type="button" class="btn btn-danger" data-bs-dismiss="modal">CERRAR</button>
                            <div class="modal-body cuponDiageoModal">
                               <div><figure class="imagenNXXT col align-self-center">
                        <img src="/static/img/stations/InfoNxxt%20Victoria.jpg" data-bs-toggle="modal" data-bs-target="#modalNXTT" class="imagenModal">
                    </figure>
                                </div>
                                       

                            </div>

                        </div>
                    </div>
                </div>
                             
                <div class="logoBlock">
                    <figure><img src="/static/img/alianzas/logo_nxxt.svg"></figure>
                </div>
                <div class="blockContent row">

                   

                    <div class="">
                       <figure class="imagenNXXT col align-item-center">
                        <img src="/static/img/stations/InfoNxxt%20Victoria.jpg" data-bs-toggle="modal" data-bs-target="#modalNXTT" class="imagenModal">
                    </figure>
                    </div>
                    
                    



                </div>
                <div class="blockRS">
                    <div>
                        <a href="mailto:candidatos@nxxt.mx" target="_blank">
                            <img class="img-fluid" src="/static/img/at-sign.svg"></a>
                        <a href="https://nxxt.mx/web/" target="_blank"><img class="img-fluid" src="/static/img/globe.svg"></a>
                        <a href="https://www.linkedin.com/company/wearenxxt/" target="_blank">
                            <img class="img-fluid" src="/static/img/linkedin.svg"></a>
                    </div>
                </div>



            </div>
                     
                       

    </div>


    </div>




    <footer class="footerVictoriafest">
        <a href="https://victoria147.org/">
            <figure class="logoVictoria"><img src="/static/img/logoVictoriaBlanco.png"></figure>
        </a>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>

</html>
