body {
    margin: 0;
    padding: 0;
    font-family: 'Univers LT Std', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

::selection {
    background: #FFC802;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #FFC802;
    /* Gecko Browsers */
}

.bold {
    font-family: 'Univers LT Std bold', sans-serif;
    font-weight: bold;
}

.boldextended {
    font-family: 'Univers LT Std boldex', sans-serif;
    font-weight: bold;
}

.extended {
    font-family: 'Univers LT Std ex', sans-serif;
    font-weight: normal;
}

.light {
    font-family: 'Univers LT Std lightcn', sans-serif;
    font-weight: lighter;
}

.bg-text-container {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    z-index: 999;
}

@keyframes text-scrolling {
    0% {
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        transform: translate3d(0%, 0, 0);
    }
}

.animate-text {
    animation: text-scrolling 22s linear infinite;
    will-change: transform;
    display: block;
    position: relative;
    white-space: nowrap;
}

.animate-text.left {
    animation-direction: reverse;
}

.animate-text span {
    font-size: 6vh;
    -webkit-text-stroke: 1px #30442a;
    text-transform: uppercase;
    display: inline-block;
    line-height: .85;
    min-width: auto;
    font-weight: 800;
}


.textoScroll {
    min-height: 6vh;
    overflow: hidden;
    position: relative;
    background: #F082EA;
    color: #00B774;
    border: 2px solid #000000;
}


figure img {
    padding: 0;
    margin: 0;
}

.mainContent {
    background-color: #770BE8;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.contentMainColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 85vh;

}

.column1 {
    width: 30vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.deco2 {
    position: absolute;
    left: 0;
    top: 10%;
}

.deco2 img {
    max-height: 80px;
}

.logoNow {
    position: absolute;
    left: 70px;
    bottom: 70px;
}

.logoNow img {
    max-height: 420px;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 70vw;
    align-items: flex-start;
}

.contenedorAmarillo {
    display: flex;
    flex-direction: row;

}

.fechas {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fechas figure {
    padding: -1px;
    margin: 0 -1px;
}

.fechas figure img {
    height: 501px;
}

.BotonUnirse {
    width: 50vw;
    background-color: #FFC802;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.BotonUnirse p{
    font-size: 22px;
    max-width: 450px;
    font-size: 1.8em;
    line-height: 1.2;

}

.BotonUnirse input{
    width: 500px;
    background-color: #FFC802;
    border-bottom: 5px black solid !important;
    border: 0px black solid;
    font-size: 2em;
    margin: 25px 0;
    color: black !important;

}

.BotonUnirse button {
    background-color: #00B774;
    box-shadow: #770BE8 6px 6px;
    font-size: 2em;
    color: white;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.BotonUnirse button:active,
.BotonUnirse button:hover {
    background-color: #770BE8;
    box-shadow: #00B774 6px 6px;
}

.registrosnuevos{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 50%;
    margin: 0 0 0 auto;
}

.registrosnuevos p{
      font-size: 1.8em;
      color: white;
        line-height: 1.2;

}

.registrosnuevos button {
    background-color: #00B774;
    box-shadow: #FFC802 6px 6px;
    font-size: 2em;
    color: white;
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 320px;
}

.registrosnuevos button:active,
.registrosnuevos button:hover {
    background-color: #FFC802;
    box-shadow: #00B774 6px 6px;
    color: #770BE8;
}




.contactoRS {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0 0 0 auto;
    position: relative;
    overflow: hidden;
    min-height: 250px
}

.contactoRS h2 {
    font-size: 6em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F7582A;
    color: transparent;
    padding: 0;
    margin: 0;
}

.deco3 {
    margin: 0;
    position: absolute;
    left: 10%;
    bottom: 0;
    opacity: .5;
}

.deco3 img {
    height: 221px;
}

.RedesSociales {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
    z-index: 2;
}

.RedesSociales div {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.contactoRS a {
    color: #FFF;
    font-size: 1.7em;
}

.contactoRS a:hover {
    color: #F7582A;
    transition: 0.5s ease-in-out;
}

.footerVictoriafest {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    margin: 0;
    padding: 25px 0;
    min-height: 10vh;
}

.logoVictoria img {
    height: 65px;
    margin-top: 25px;
}



/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {




    .fechas figure img {
        height: 400px;
    }


    .logoNow {
        left: 50px;
        bottom: 50px;
    }

    .logoNow img {
        height: 350px;
    }
}

    /* Large devices (desktops, less than 1200px) */
    @media (max-width: 1199.98px) {

        .contentMainColumns {
            flex-wrap: wrap;
            height: auto;
        }

        .column1 {
            width: 100vw !important;
            height: 520px;
            justify-content: center;
        }

        .logoNow {
            margin: 0 auto;
            position: inherit;
            margin-top: 80px;
        }

        .deco2 {
            bottom: -56px !important;
            top: auto;
        }

        .column2 {
            width: 100% !important;
            flex-wrap: wrap;
        }

        .contenedorAmarillo {
            width: 100%;
        }


        .fechas {
            position: absolute;
            top: 80px;
            right: 0;
        }

        .contactoRS {
            height: 320px
        }



    }


    /* Medium devices (tablets, less than 992px) */
    @media (max-width: 991.98px) {


    }




/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {


    .column1 {
        width: 100vw !important;
        height: 520px;
        justify-content: flex-start;
    }

    .logoNow {
        margin: 0 auto;
        position: inherit;
        margin-top: 60px;
        margin-left: 40px
    }

    .logoVictoria img {
        height: 45px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

}



/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {


    .textoScroll {
        min-height: 8vh !important;
    }

    .animate-text span {
        font-size: 8vh;
    }

    .column1 {
        height: 360px;

    }

    .fechas {
        position: absolute;
        top: 65px;
        right: 0;
    }

    .fechas img {
        height: 250px !important;
    }

    .logoNow {
        margin: 0 auto;
        position: inherit;
        margin-top: 20px;
        margin-left: 20px
    }

    .logoNow img {
        height: 230px
    }

    .contactoRS h2 {
        font-size: 4.4em;
        text-align: right;
    }



    .RedesSociales div {
        padding-top: 25px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .BotonUnirse button {
        background-color: #00B774;
        box-shadow: #770BE8 6px 6px;
        font-size: 2.5em;
        color: white;
        border: none;
        padding: 10px 25px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .BotonUnirse {
        margin-bottom: 25px;
    }


}
