.mainContainer{
    width: 100%;
    height: auto;
    background-color: #F0F0F0;
    padding:  2% 5%;
    min-height: 100vh;
}


.titleSpeakers {
    width: 70%;
    margin: 50px auto;
    background-color: #F0F0F0;
    padding: 0;
}

.titleSpeakers img {
    width: 99%;
}

.filaBloques{
    margin-bottom: 100px;
}

.sponsorBlock{
    background-color: #FAFAFA;
    border-radius: 12px;
    padding: 0!important;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #FFC802;
}

.dobleBlock{
    border: 2px solid #770be8;
}

.dobleBlock .blockRS{
    background-color: #770be8;
}

.logoBlock{
    background-color: white;
    width: 100%;
    height: 150px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px 15px 0 0;

}
.logoBlock figure{
    margin: 0 auto;
}
.logoBlock figure img{
    height: 110px;
    width: auto;
}


.blockContent{
    background-color: #FAFAFA;
    width: 100%;
    height: 550px;
    padding: 5%;
    position: relative;
}

.sinPadding{
    padding: 2% !important;
}

.videoWrap{
    z-index: 2;
    height: 85%;
    max-height: 100%;
}

.videoWrap2{
    z-index: 2;
    height: 230px;
    margin: 25px 0;
}

.blockRS{
    width: calc(100% + 2px);    
    background-color: #FFC802;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
    z-index: 2;
}

.blockRS div{
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.decoLines1{
    position: absolute;
    width: 100%;
    left: 0;
    top: 30%
}

.decoDots1{
    position: absolute;
    width: 40%;
    left: 2%;
    top: 9%
}

.decoDots2{
    position: absolute;
    width: 40%;
    right: 2%;
    top: 19%
}


.botonStations {
    background-color: #FF585D;
    box-shadow: #770BE8 6px 6px;
    font-size: 22px;
    color: white !important;
    text-decoration: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    z-index: 1;
    height: auto;
    margin: 0 auto;
}

.botonStations:hover {
    background-color: #770BE8;
    box-shadow: #FF585D 6px 6px;
}

/* Específicos */


.imagenModal{
    cursor: pointer;
}

#carouselBBVA{
    height: 450px;
    width: 270px;
    margin: 0 auto;
}

#carouselBBVA .carousel-item{
        max-height: 450px;
        width: auto;
}

#carouselBBVA .carousel-item img{
        height: 100%;
        width: auto;
}

.linkQuickbooks{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.linkQuickbooks div h4{
    margin-top: 40px !important;
}

.cuponDiageoModal{
    background-color: #FFC802;
    box-shadow: 12px 12px #770be8;
}

.cuponDiageoModal div{
padding: 50px;
}

.cuponDiageoModal div p{
    font-size: 22px;
}

.cuponDiageoModal div a{
    font-size: 28px;
    color: #770be8;
    text-decoration: none;
    font-weight: bold;
}


